.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
}

/* Make input fields transparent and set the placeholder color to light gray */
.form-control {
  background-color: transparent;
  border: 1px solid #ccc; /* Optional: Add a light border to make the inputs visible */
}

.custom-btn {
  background-color: #2e2f33; /* Change the background color */
  color: white; /* Change the text color */
  border: none; /* Optional: remove default border */
  padding: 10px 20px; /* Optional: adjust padding */
  font-size: 16px; /* Optional: adjust font size */
}

.custom-btn:hover {
  background-color: #1f2023; /* Optional: change color on hover */
}
